<template>
    <div class="cont">
        <div class="title">
            <h2>{{getTitleById[0].title}}</h2>
            <p>{{getTitleById[0].body}}</p>
        </div>
        <div class="comments">
            <div class="comments_add">
                <textarea name="" id="" cols="30" rows="2" style="margin-bottom: 10px;" v-model="comment"></textarea>
                <button @click="addComment()">Добавить комментарий</button>
            </div>
            <div class="comments_list">
                <p>Комментарии:</p>
                <ul v-if="getComments.length > 0">
                    <li v-for="(comment, index) of getComments">
                        {{comment.comment}}
                        <span @click="deleteById(index)">X</span>
                    </li>
                </ul>
                <div class="no-comments" v-else>
                    <p>Нет Комментариев!</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import * as types from "@/stores/modules/title/types";

export default {
  name: "CurrentTitle",
  data() {
    return {
      comment: ""
    };
  },
  computed: {
    getTitleById() {
      return this.$store.getters["title/getTitleById"](this.$route.params.id);
    },
    getComments() {
      return this.$store.getters["title/getComments"](this.$route.params.id);
    }
  },
  methods: {
    addComment() {
      this.$store.dispatch("title/" + types.A_ADD_COMMENT, {
        comment: this.comment,
        id: this.$route.params.id
      });
    },
    deleteById(key) {
      this.$store.dispatch("title/" + types.A_DELETE_COMMENT, { key: key });
    }
  }
};
</script>
<style>
.title {
  text-align: left;
}
.title p {
  width: 50%;
}
.comments_add {
  width: 20%;
  display: flex;
  flex-flow: column;
}
.comments_list {
  text-align: left;
}
.comments ul {
  display: flex;
  flex-flow: column wrap;
}
.comments ul li span{
    color: red;
    position: absolute;
    right: 8px;
    cursor: pointer;
}
.comments ul li {
    position: relative;
  width: 40%;
  margin: 10px;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #b1b1b1;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
}
</style>
