<template>
    <div class="">
        <ul>
            <li
                v-for="title in getTitleList"
            >
                <router-link :to="'/' + title.id" tag="a">{{ title.title }}</router-link>
            </li>
        </ul>
    </div>
</template>
<script>
import * as types from "@/stores/modules/title/types";

export default {
  name: "TitleList",
  data() {
    return {};
  },
  created() {
    this.getTitles();
  },
  computed: {
    getTitleList() {
      return this.$store.getters["title/getTitlesList"];
    }
  },
  methods: {
    getTitles() {
      this.$store.dispatch("title/" + types.A_GET_TITLES);
    }
  }
};
</script>
<style>
ul {
  display: flex;
  flex-flow: row wrap;
}
ul li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;
  text-align: left;
  border: 1px solid #b1b1b1;
  padding: 2px;
  margin: 8px;
  list-style-type: none;
}
ul li a {
  color: #000000;
  text-decoration: none;
}
</style>
